<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-cloudflare-index") %>>
          <a href="/docs/providers/cloudflare/index.html">Cloudflare Provider</a>
        </li>

        <li<%= sidebar_current("docs-cloudflare-guides") %>>
          <a href="#">Guides</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-cloudflare-guide-version2-upgrade") %>>
              <a href="/docs/providers/cloudflare/guides/version-2-upgrade.html">Cloudflare Provider Version 2 Upgrade Guide</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-guide-version3-upgrade") %>>
              <a href="/docs/providers/cloudflare/guides/version-3-upgrade.html">Cloudflare Provider Version 3 Upgrade Guide</a>
            </li>
           </ul>
        </li>

        <li<%= sidebar_current("docs-cloudflare-datasource") %>>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-cloudflare-account-roles") %>>
              <a href="/docs/providers/cloudflare/d/account_roles.html">cloudflare_account_roles</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-api-token-permission-groups") %>>
              <a href="/docs/providers/cloudflare/d/api_token_permission_groups.html">cloudflare_api_token_permission_groups</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-datasource-ip-ranges") %>>
              <a href="/docs/providers/cloudflare/d/ip_ranges.html">cloudflare_ip_ranges</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-datasource-origin-ca-root-certificate") %>>
              <a href="/docs/providers/cloudflare/d/origin_ca_root_certificate.html">cloudflare_origin_ca_root_certificate</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-datasource-waf-groups") %>>
                <a href="/docs/providers/cloudflare/d/waf_groups.html">cloudflare_waf_groups</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-datasource-waf-packages") %>>
                <a href="/docs/providers/cloudflare/d/waf_packages.html">cloudflare_waf_packages</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-datasource-waf-rules") %>>
                <a href="/docs/providers/cloudflare/d/waf_rules.html">cloudflare_waf_rules</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-datasource-zones") %>>
                <a href="/docs/providers/cloudflare/d/zones.html">cloudflare_zones</a>
            </li>
           </ul>
        </li>

        <li<%= sidebar_current("docs-cloudflare-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-cloudflare-resource-access-application") %>>
              <a href="/docs/providers/cloudflare/r/access_application.html">cloudflare_access_application</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-resource-access-ca-certificate") %>>
              <a href="/docs/providers/cloudflare/r/access_ca_certificate.html">cloudflare_access_ca_certificate</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-resource-access-identity-provider") %>>
              <a href="/docs/providers/cloudflare/r/access_identity_provider.html">cloudflare_access_identity_provider</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-resource-access-policy") %>>
              <a href="/docs/providers/cloudflare/r/access_policy.html">cloudflare_access_policy</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-resource-access-group") %>>
              <a href="/docs/providers/cloudflare/r/access_group.html">cloudflare_access_group</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-resource-access-rule") %>>
              <a href="/docs/providers/cloudflare/r/access_rule.html">cloudflare_access_rule</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-resource-access-service-token") %>>
              <a href="/docs/providers/cloudflare/r/access_service_token.html">cloudflare_access_service_token</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-resource-account-member") %>>
              <a href="/docs/providers/cloudflare/r/account_member.html">cloudflare_account_member</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-resource-api-token") %>>
              <a href="/docs/providers/cloudflare/r/api_token.html">cloudflare_api_token</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-resource-argo") %>>
              <a href="/docs/providers/cloudflare/r/argo.html">cloudflare_argo</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-resource-argo-tunnel") %>>
              <a href="/docs/providers/cloudflare/r/argo_tunnel.html">cloudflare_argo_tunnel</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-resource-byo-ip-prefix") %>>
              <a href="/docs/providers/cloudflare/r/byo_ip_prefix.html">cloudflare_byo_ip_prefix</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-resource-certificate-pack") %>>
              <a href="/docs/providers/cloudflare/r/certificate_pack.html">cloudflare_certificate_pack</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-resource-custom-pages") %>>
              <a href="/docs/providers/cloudflare/r/custom_pages.html">cloudflare_custom_pages</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-resource-custom-hostname") %>>
              <a href="/docs/providers/cloudflare/r/custom_hostname.html">cloudflare_custom_hostname</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-resource-custom-ssl") %>>
              <a href="/docs/providers/cloudflare/r/custom_ssl.html">cloudflare_custom_ssl</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-resource-filter") %>>
              <a href="/docs/providers/cloudflare/r/filter.html">cloudflare_filter</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-resource-firewall-rule") %>>
              <a href="/docs/providers/cloudflare/r/firewall_rule.html">cloudflare_firewall_rule</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-resource-healthcheck") %>>
              <a href="/docs/providers/cloudflare/r/healthcheck.html">cloudflare_healthcheck</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-resource-ip-list") %>>
              <a href="/docs/providers/cloudflare/r/ip_list.html">cloudflare_ip_list</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-resource-load-balancer") %>>
              <a href="/docs/providers/cloudflare/r/load_balancer.html">cloudflare_load_balancer</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-resource-load-balancer-monitor") %>>
              <a href="/docs/providers/cloudflare/r/load_balancer_monitor.html">cloudflare_load_balancer_monitor</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-resource-load-balancer-pool") %>>
              <a href="/docs/providers/cloudflare/r/load_balancer_pool.html">cloudflare_load_balancer_pool</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-resource-logpull-retention") %>>
              <a href="/docs/providers/cloudflare/r/logpull_retention.html">cloudflare_logpull_retention</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-resource-logpush-job") %>>
              <a href="/docs/providers/cloudflare/r/logpush_job.html">cloudflare_logpush_job</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-resource-logpush-ownership-challenge") %>>
              <a href="/docs/providers/cloudflare/r/logpush_ownership_challenge.html">cloudflare_logpush_ownership_challenge</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-resource-magic-firewall-ruleset") %>>
              <a href="/docs/providers/cloudflare/r/magic_firewall_ruleset.html">cloudflare_magic_firewall_ruleset</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-resource-notification-policy") %>>
              <a href="/docs/providers/cloudflare/r/notification_policy.html">cloudflare_notification_policy</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-resource-origin-ca-certificate") %>>
              <a href="/docs/providers/cloudflare/r/origin_ca_certificate.html">cloudflare_origin_ca_certificate</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-resource-page-rule") %>>
                <a href="/docs/providers/cloudflare/r/page_rule.html">cloudflare_page_rule</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-resource-rate-limit") %>>
              <a href="/docs/providers/cloudflare/r/rate_limit.html">cloudflare_rate_limit</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-resource-record") %>>
              <a href="/docs/providers/cloudflare/r/record.html">cloudflare_record</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-resource-ruleset") %>>
              <a href="/docs/providers/cloudflare/r/ruleset.html">cloudflare_ruleset</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-resource-spectrum-application") %>>
              <a href="/docs/providers/cloudflare/r/spectrum_application.html">cloudflare_spectrum_application</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-resource-split-tunnel") %>>
              <a href="/docs/providers/cloudflare/r/split_tunnel.html">cloudflare_split_tunnel</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-static-route") %>>
              <a href="/docs/providers/cloudflare/r/static_route.html">cloudflare_static_route</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-teams-account") %>>
              <a href="/docs/providers/cloudflare/r/teams_account.html">cloudflare_teams_account</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-teams-location") %>>
              <a href="/docs/providers/cloudflare/r/teams_location.html">cloudflare_teams_location</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-teams-rule") %>>
              <a href="/docs/providers/cloudflare/r/teams_rule.html">cloudflare_teams_rule</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-resource-waf-group") %>>
              <a href="/docs/providers/cloudflare/r/waf_group.html">cloudflare_waf_group</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-resource-waf-override") %>>
              <a href="/docs/providers/cloudflare/r/waf_override.html">cloudflare_waf_override</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-resource-waf-package") %>>
              <a href="/docs/providers/cloudflare/r/waf_package.html">cloudflare_waf_package</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-resource-waf-rule") %>>
              <a href="/docs/providers/cloudflare/r/waf_rule.html">cloudflare_waf_rule</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-resource-worker-cron-trigger") %>>
              <a href="/docs/providers/cloudflare/r/worker_cron_trigger.html">cloudflare_worker_cron_trigger</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-resource-worker-route") %>>
              <a href="/docs/providers/cloudflare/r/worker_route.html">cloudflare_worker_route</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-resource-worker-script") %>>
              <a href="/docs/providers/cloudflare/r/worker_script.html">cloudflare_worker_script</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-resource-workers-kv") %>>
              <a href="/docs/providers/cloudflare/r/workers_kv.html">cloudflare_workers_kv</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-resource-workers-kv-namespace") %>>
              <a href="/docs/providers/cloudflare/r/workers_kv_namespace.html">cloudflare_workers_kv_namespace</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-resource-zone") %>>
              <a href="/docs/providers/cloudflare/r/zone.html">cloudflare_zone</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-resource-zone-lockdown") %>>
              <a href="/docs/providers/cloudflare/r/zone_lockdown.html">cloudflare_zone_lockdown</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-resource-zone-settings-override") %>>
              <a href="/docs/providers/cloudflare/r/zone_settings_override.html">cloudflare_zone_settings_override</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
