<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-cloudflare-index") %>>
          <a href="/docs/providers/cloudflare/index.html">Cloudflare Provider</a>
        </li>

        <li<%= sidebar_current("docs-cloudflare-datasource") %>>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-cloudflare-datasource-ip_ranges") %>>
              <a href="/docs/providers/cloudflare/d/ip_ranges.html">cloudflare_ip_ranges</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-cloudflare-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-cloudflare-resource-page-rule") %>>
                <a href="/docs/providers/cloudflare/r/page_rule.html">cloudflare_page_rule</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-rate-limit") %>>
              <a href="/docs/providers/cloudflare/r/rate_limit.html">cloudflare_rate_limit</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-resource-record") %>>
              <a href="/docs/providers/cloudflare/r/record.html">cloudflare_record</a>
            </li>
            <li<%= sidebar_current("docs-cloudflare-resource-zone-settings-override") %>>
              <a href="/docs/providers/cloudflare/r/zone_settings_override.html">cloudflare_zone_settings_override</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
